<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    <title>Todo-List</title>
</head>
<body>
<header>
    <%- include('header.ejs') %>
</header>
<main>
    <%- include("todos.ejs") %>
</main>
<footer>
    <%- include("footer.ejs") %>
</footer>
</body>
</html>