<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <% allTodos.forEach(todo => { %>
        <tr>
          <td><%= todo.id %></td>
          <td><%= todo.title %></td>
          <td><%= todo.completed ? 'Yes' : 'No' %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
